node_modules/
.expo/
dist/
build/
.DS_Store

.ninja_log
.cxx/
*_log
# Native
# ios/Pods/
# ios/build/
# android/.gradle/
# android/build/
# android/app/build/
# android/local.properties
# *.keystore
# !debug.keystore

# Env
.env
.env.local
# google-services.json
# GoogleService-Info.plist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
